aiodns==2.0.0
aiohttp==3.5.4
aiohttp-socks==0.2.2
appdirs==1.4.4
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.9.1
bleach==3.1.0
blis==0.4.1
boto==2.49.0
boto3==1.14.63
botocore==1.17.63
bs4==0.0.1
catalogue==1.0.0
cchardet==2.1.4
certifi==2020.6.20
cffi==1.12.3
chardet==3.0.4
click==7.1.2
colorama==0.4.1
configparser==5.0.0
crayons==0.4.0
cryptography==2.6.1
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.2
Cython==0.29.14
cytoolz==0.9.0.1
decorator==4.4.0
defusedxml==0.6.0
dill==0.2.9
docutils==0.15.2
elasticsearch==7.0.1
entrypoints==0.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
Flask==1.1.2
gensim==3.8.3
geographiclib==1.49
geopy==1.19.0
gunicorn==20.0.4
html5lib==1.1
htmldate==0.7.1
htmlst==0.1.0b1
idna==2.8
idna-ssl==1.1.0
importlib-metadata==1.7.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.10.0
joblib==0.13.2
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.2.0
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
msgpack==0.6.1
msgpack-numpy==0.4.3.2
multidict==4.5.2
murmurhash==1.0.2
nbconvert==5.5.0
nbformat==4.4.0
nbstripout==0.3.9
nltk==3.4.1
notebook==5.7.8
numpy==1.19.1
olefile==0.46
openpyxl==3.0.5
pandas==0.24.2
pandocfilters==1.4.2
parse==1.18.0
parso==0.4.0
pickleshare==0.7.5
Pillow==7.2.0
plac==0.9.6
preshed==3.0.2
prometheus-client==0.6.0
prompt-toolkit==2.0.9
pycares==3.0.0
pycparser==2.19
pyee==7.0.3
Pygments==2.4.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
Pyphen==0.9.5
pyppeteer==0.2.2
pyquery==1.4.1
pyreadline==2.1
pyrsistent==0.15.2
PySocks==1.7.0
python-dateutil==2.8.1
python-osc==1.7.4
python-sonic==0.3.0
pytz==2019.1
pywinpty==0.5.5
pyzmq==18.0.0
readability==0.3.1
regex==2020.7.14
requests==2.24.0
requests-html==0.10.0
s3transfer==0.3.3
schedule==0.6.0
scikit-learn==0.23.2
scipy==1.2.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.12.0
smart-open==2.1.1
soupsieve==2.0.1
spacy==2.3.2
srsly==1.0.2
terminado==0.8.2
testpath==0.4.2
textblob==0.15.3
textstat==0.6.2
thinc==7.4.1
threadpoolctl==2.1.0
toolz==0.9.0
tornado==6.0.2
tqdm==4.49.0
traitlets==4.3.2
#typing==3.6.6
#typing-extensions==3.7.2
ujson==1.35
urllib3==1.25.10
vaderSentiment==3.2.1
w3lib==1.22.0
wasabi==0.8.0
wcwidth==0.1.7
webdriver-manager==3.2.2
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wordcloud==1.8.0
wrapt==1.10.11
xlrd==1.2.0
yarl==1.3.0
zipp==3.1.0
